* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(to right, #000000, #1c1c1c);
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0px 20px;
}

.movie-section {
  width: 100%;
  height: fit-content;
  margin: 0% 0px;
}

.movie-section > h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.movie-info > h3 {
  color: white;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 10px;
  position: relative;
}

.movie:hover .overview {
  opacity: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.movie-info {
  margin-top: 0.5rem;
  text-align: center;
}

.overview {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0%;
  width: 93%;
  height: fit-content;
  background-color: rgb(240, 232, 232);
  opacity: 0.7;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin: 0% auto;
}

.overview > p {
  padding: 10px 5px;
}

@media screen and (max-width: 650px) {
  .overview > p {
    font-size: 0.8rem;
    display: none;
  }

  .overview > h3 {
    font-size: 0.7rem;
  }

  .overview {
    width: 80%;
  }
}

.banner {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

#banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  margin: 0% 20px;
  position: absolute;
  top: 30%;
}

.banner-info > h2 {
  color: white;
}

.banner-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.banner-btn > button {
  padding: 10px 15px;
  cursor: pointer;
}

.banner-btn button:nth-child(1) {
  background-color: white;
  color: black;
  border: none;
  outline: none;
}

.banner-btn button:nth-child(2) {
  background-color: black;
  color: white;
  border: 1px solid white;
  outline: none;
  opacity: 0.5;
}

.banner-info > h4 {
  color: gray;
}

.banner-overview {
  width: 40%;
}

.banner-overview > p {
  color: white;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .banner-overview {
    width: 98%;
  }

  .banner-overview > p {
    padding-bottom: 15px;
  }

  .banner-info {
    position: absolute;
    bottom: 30%;
  }
}

.navbar-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0%;
}

.home {
  margin-left: 20px;
}

.logo {
  color: brown;
  font-size: 1.3rem;
  font-weight: bolder;
}

.auth-nav {
  margin-right: 5px;
  display: flex;
}

.link {
  color: white;
  padding: 10px 10px;
}

.links {
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  background-color: brown;
}

.auth-container {
  background-image: url("https://i.ibb.co/Hdtmhzv/1664271579476.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 30%;
  height: fit-content;
  background-color: black;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form > h1 {
  color: white;
  margin: 15px 0px;
  width: 90%;
}

form > input {
  width: 90%;
  height: 40px;
  margin: 10px 0px;
  padding-left: 10px;
  border: 1px solid blue;
  outline: none;
}

form > button {
  width: 90%;
  height: 40px;
  margin: 10px 0px;
  background-color: brown;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
}

form > p {
  color: white;
  cursor: pointer;
  margin: 5px 0px;
}

form > .form-add {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.form-add > button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.error {
  color: red;
}
.form-add > span {
  color: white;
}

.form-add > span > .a {
  color: white;
}

@media screen and (max-width: 768px) {
  form {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  form {
    width: 90%;
  }
  .form-add {
    flex-direction: column;
    gap: 10px;
  }
}

.account-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  opacity: 0.7;
  gap: 10px;
}

.account-container > span {
  color: white;
  margin: 20px 0px;
}
.sign-out {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .account-container {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .account-container {
    width: 90%;
    padding: 10px 10px;
  }
}

.footer-container {
  padding: 20px;
  background-color: #1c1c1c;
  text-align: center;
  color: white;
}





